# This notebook is for scratch work and trial

In [1]:
import pandas as pd
import numpy as np

In [3]:
d = pd.read_csv('Data/gdf_edges.csv')

In [4]:
d.head()

,u,v,key,osmid,highway,lanes,maxspeed,name,oneway,reversed,length,ref,geometry,service,width,access,tunnel,junction,bridge
0,10782939,340086040,0,196461233,secondary,2,60,Columbia Street West,True,False,11.415097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10782939,295175045,0,"[38896609, 871538111]",secondary,2,60,Westmount Road North,True,False,562.906997,RR 50,"LINESTRING (-80.5581321 43.4704584, -80.557973...",NaN,NaN,NaN,NaN,NaN,NaN
2,10782965,340086081,0,503446166,secondary,2,60,Bearinger Road,True,False,12.632849,RR 58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10782965,3251111321,0,503446167,secondary,2,60,Westmount Road North,True,False,759.554194,RR 50,"LINESTRING (-80.5653142 43.4834183, -80.565241...",NaN,NaN,NaN,NaN,NaN,NaN
4,15062368,6630422592,0,117989218,secondary,2,80,Northfield Drive East,False,False,581.706808,RR 22,"LINESTRING (-80.5130366 43.5325644, -80.513135...",NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cond = d['highway'] == 'secondary'

print(type(cond))
print(cond)

<class 'pandas.core.series.Series'>
0         True
1         True
2         True
3         True
4         True
         ...
50193    False
50194    False
50195    False
50196    False
50197    False
Name: highway, Length: 50198, dtype: bool

In [13]:
## how to test whether data type is a string
def isString(s):
    return isinstance(s, str)

x = lambda s: isinstance(s, str)

print(x('string'))

True

In [30]:
## testing dtype attribute

d = pd.DataFrame.from_dict({
    'int with nan':[0, 1, np.nan],
    'strings': ['hello world', '', 'test'],
    'mixed numerical': [1, 2.2, 4],
    'mixed string': ['hello world', 3, 4]
})

print(d.dtypes)
# print(d.columns.dtype)
d['int with nan'].dtype

int with nan       float64
strings             object
mixed numerical    float64
mixed string        object
dtype: object

dtype('float64')

In [35]:
# testing str.slice
d = pd.DataFrame.from_dict({
    'strings':['horse', 'dog', 'cartman', 'kyle']
})

cond = (d['strings'].str.slice(stop=1) == 'h') | (d['strings'] == 'cartman') 

print(cond)

d['strings'].loc[cond] = d['strings'].loc[cond].str.slice(start=1, stop=-1)

d

0     True
1    False
2     True
3    False
Name: strings, dtype: bool

  strings
0     ors
1     dog
2   artma
3    kyle